<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="font-size: 14px;">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>RESET PASSWORD
    </ion-buttons>
    <!-- <ion-title>RESET PASSWORD</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="reset(form)" method="post">
    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <!-- <ion-label position="floating">Current Password</ion-label> -->
      <ion-input ngModel type={{type}} required placeholder="Current Password" name="oldpass"></ion-input>
      <ion-icon ion-button *ngIf="showPasswordText == 1" name="eye" (click)="managePassword()" slot="end">
      </ion-icon>
      <ion-icon ion-button *ngIf="showPasswordText == 0" name="eye-off" (click)="managePassword()" slot="end">
      </ion-icon>
    </ion-item>
    <small *ngIf="sameAsOld == true" style="color: red;"> <i>
      <ion-icon slot="start" name="alert-circle"></ion-icon>New password cannot match old password
    </i></small>
    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <!-- <ion-label position="floating">New Password</ion-label> -->
      <!-- <ion-input ngModel type="{{type}}" name="newpassword"></ion-input> -->
      <ion-input ngModel type={{newtype}} required placeholder="New Password" name="newpassword"></ion-input>
      <ion-icon ion-button *ngIf="showNewText == 1" name="eye" (click)="managenewPassword()" slot="end">
      </ion-icon>
      <ion-icon ion-button *ngIf="showNewText == 0" name="eye-off" (click)="managenewPassword()" slot="end">
      </ion-icon>

    </ion-item>
    <small *ngIf="shortPass == true" style="color: red;"> <i>
        <ion-icon slot="start" name="alert-circle"></ion-icon>Password with 8 characters minimum(including digits) is
        required.
      </i></small>
    <small *ngIf="sameAsOld == true" style="color: red;"> <i>
        <ion-icon slot="start" name="alert-circle"></ion-icon>New password cannot match old password
      </i></small>
    <small *ngIf="notSame == true" style="color: red;"> <i>
        <ion-icon slot="start" name="alert-circle"></ion-icon>New passwords do not match.
      </i></small>
    <ion-item>

      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <!-- <ion-label position="floating">Verify New Password</ion-label> -->
      <!-- <ion-input  ngModel  type="{{type}}" name="repassword"></ion-input> -->
      <ion-input ngModel type={{newtype}} required placeholder="Verify New Password" name="repassword"></ion-input>
      <ion-icon ion-button *ngIf="showNewText == 1" name="eye" (click)="managenewPassword()" slot="end">
      </ion-icon>
      <ion-icon ion-button *ngIf="showNewText == 0" name="eye-off" (click)="managenewPassword()" slot="end">
      </ion-icon>
    </ion-item>
    <small *ngIf="notSame == true" style="color: red;"> <i>
        <ion-icon slot="start" name="alert-circle"></ion-icon>New passwords do not match.
      </i></small>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <ion-button type="submit" color="warning">CHANGE PASSWORD</ion-button>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </form>

</ion-content>