.img{
     
    height: 100px;
    min-width: 100px;
    border-radius: 4px;
    padding:0;
    object-fit: cover;
    margin: 0 auto;


}
ion-col{
    background-color:#eee;
    border: 2px white solid !important;
}