<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" style="font-size: 14px;">
            <ion-back-button text="" icon='chevron-back'></ion-back-button>PHOTOS & ALBUMS
          </ion-buttons>
    <!-- <ion-title>PHOTOS & ALBUMS</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
  <ion-card *ngIf="galleries.length === 0">
    <ion-card-content>
      No photos on this album...
    </ion-card-content>
  </ion-card>

    <ion-grid *ngIf="galleries.length > 0">
        <ion-row>
          <ion-col  *ngFor="let photo of galleries;" col-12 >
            <!-- <ion-card>
              <ion-card-content> -->
            <a [href]="photo.src">{{photo.src}}</a>
            <!-- </ion-card-content>
            </ion-card> -->
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
