<ion-header style=" background-color:#397C49;height: 100%;">
  <ion-toolbar color="primary" style="color:white;">
    <ion-buttons slot="start" style="font-size: 14px;">
      <ion-icon text="" icon="chevron-back" style="font-size:1.8em ; color: white; right: 0px;"
        (click)="dismissRegister()"></ion-icon>RESET PASSWORD
    </ion-buttons>
    <!-- <ion-title style="text-align: justify;font-size: 14px"> &nbsp;RESET PASSWORD</ion-title> -->
  </ion-toolbar>
  <div style="height: 25%;">
  </div>
  <!-- <div class="main"> -->

  <ion-card>
    <ion-card-content>
      <div style="margin-top: 30px; margin-bottom: 30px; margin-left: 10px;margin-right: 10px;" *ngIf="code == 0">
        <ion-row class="row">
          <div class="fire-logo">
          </div>
        </ion-row>
        <form #form="ngForm" (ngSubmit)="check(form)" method="post">
          <ion-item lines="none">
            <h2 style="color:black;font-size: 20px;"> Enter your phone number</h2>
            <br>
            <br>
          </ion-item>
          <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-input clearInput type="tel" ngModel name="phone" maxlength="12" style="color:black; font-size: 20px;"
              (ionInput)="runTimeChange($event)" placeholder="0700 123 123" pattern="[0-9]{4} [0-9]{3} [0-9]{3}"
              value={{value}} padding-horizontal clear-input="true">
            </ion-input>
          </ion-item>
          <ion-row>
            <ion-col> </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3></ion-col>
            <ion-col col-6>
              <ion-button type="submit" style="background-color: #397C49; width: 200pt;" class="transition"><strong
                  class="white">Continue</strong></ion-button>
            </ion-col>
            <ion-col col-3></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3></ion-col>
            <ion-col col-6>
              <ion-button (click)=enterCode() color="warning" style="text-transform: none; width: 200pt">Already have code?</ion-button>
            </ion-col>
            <ion-col col-3></ion-col>
          </ion-row>
        </form>
      </div>

      <div style="margin-top: 30px; margin-bottom: 30px; margin-left: 10px;margin-right: 10px;" *ngIf="code == 1">
        <form #form="ngForm" (ngSubmit)="verify(form)" method="post">
          <ion-item lines="none">
            <h2 style="color:black;font-size: 18px;"> Enter Temporary Password Received.</h2>
            <br>
            <br>
          </ion-item>
          <ion-item>
            <ion-icon name="lock" slot="start"></ion-icon>
            <ion-input clearInput type="text" ngModel name="code" maxlength="20" style="color:black; font-size: 20px;"
              placeholder="Enter Password" value={{value}} class="ion-padding-horizontal" clear-input="true">
            </ion-input>
          </ion-item>
          <!-- <ion-row class="row">
              <div class="fire-logo">
                <ion-text class="ion-padding">
                  <h3 no-margin margin-vertical text-center>Enter Temporary Password Received.</h3>
                </ion-text>
              </div>
            </ion-row>
            <ion-row>
                <ion-col>    
                <ion-input clearInput type="text" ngModel name="code" maxlength="20" class="input ion-padding-horizontal"  placeholder="Enter Password"   clear-input="true">
                </ion-input>
                </ion-col>
               </ion-row> -->

          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>
              <ion-button type="submit" color="warning">Reset Password</ion-button>
            </ion-col>
            <ion-col col-4></ion-col>
          </ion-row>
        </form>

      </div>
    </ion-card-content>
  </ion-card>
  <!-- </div> -->
</ion-header>
<!-- <ion-content class="ion-no-padding" style=" background-color:#397C49 ; height: 100%;">
    
</ion-content> -->