

.my-custom-menu {
    --width: 10px;
    font-size:12px;
    text-transform: uppercase;
  }
  
  // ion-menu{
  //   //--width: 234px;
  //   min-width: 50px!important;
  //   max-width: 50px!important;
  // }
  
  .item-inner{
    border-style: unset !important;
    }
    ion-icon{
      color: black;
    }